<div class="w-full">
  <label *ngIf="label" [for]="id" class="block font-garet text-sm font-medium text-sumak-green mb-2">
    {{ label }}
    <span *ngIf="required" class="text-sumak-wine ml-1">*</span>
  </label>
  
  <div class="relative">
    <input
      [id]="id"
      [type]="type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [class]="inputClasses"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      (focus)="onFocus()"
    />
    
    <div *ngIf="hasError" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
      <svg class="h-5 w-5 text-sumak-wine" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
      </svg>
    </div>
  </div>
  
  <p *ngIf="hasError && errorMessage" class="mt-2 font-garet text-sm text-sumak-wine">
    {{ errorMessage }}
  </p>
  
  <p *ngIf="helpText && !hasError" class="mt-2 font-garet text-sm text-text-body">
    {{ helpText }}
  </p>
</div>